html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.menu {
    background-color: lightgrey;
}

.btnMenu {
    background-color: transparent;
    color: darkorange;
    font-weight: bold;
}

.btnMenuSelecionado {
    background-color: darkorange;
    color: white;
    font-weight: bold;
}

.btnTema {
    background-color: darkorange;
    color: white;
}

.btnTemaHome {
    background-color: transparent;
    border: solid;
    border-color: darkorange;
    color: orange;
    font-weight: bold;
    width: 180px;
    height: 60px;
    align-content: center;
    justify-content: center;
    font-size: 20px;
}

.btnVoltar {
    background-color: transparent;
    color: black;
}