@model ExcluirTarefaViewModel

@{
    ViewBag.Titulo = "Exclusão de Tarefa";
}

<div class="d-flex justify-content-center">
    <form asp-action="ExclusaoConfirmada" asp-route-id="@Model.Id" method="post">
        <h3 class="mb-3">Deseja realmente excluir a tarefa <strong>@Model.Titulo</strong>?</h3>
        <div class="d-flex justify-content-end gap-2">
            <a class="btn btnVoltar" asp-action="Index">Voltar</a>
            <button class="btn btn-danger" type="submit">Excluir</button>
        </div>
    </form>
</div>